<div id="FF_UI">
	<form action="ui.html" method="post">
		<label for="time">How much time do you have?</label>
		<div class="range-container more-margin">
			<input type="range" min="1" max="1000" step="1" value="1" name="time">
			<span class="yes">No Time</span>
			<span class="no">Really no time</span>
		</div>
		<label for="time">How much do you care about this topic?</label>
		<div class="range-container">
			<input type="range" min="1" max="1000" ste="1" value="1" name="seriousness">
			<span class="yes">Easy to understand</span>
			<span class="no">So easy to understand</span>
		</div>
		<div class="submit-wrapper">
			<input type="submit" value="Force Feed Me">
			<img class="loader" src="http://samherbert.net/svg-loaders/svg-loaders/audio.svg">
		</div>
	</form>
</div>