#FF_Article{
	font-size: 18px;
	line-height: 20px;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height:100%;
	background: #fff;
	z-index: 19999;
	padding: 20px;
	
	img {margin:2em 0}
}

#FF__header{
	background:$orange;
	padding: 1em;
	
	img{margin:0.5em 0;}
	
	h1.title {
		padding:1em;
		border:1px solid $orange;
		color:#f87849;
	}
	
	hr {border-color: $orange;}
	
	.exit{
		margin-right: 400px;
		font-size: 12px;
		color: #000;
		float: right;
		margin-top: 22px;
	}
	
}

#FF__body{
	margin-left: 100px;
	margin-top: 60px;
	max-width: 600px;
	height: 100%;
	overflow: auto;
	position: relative;
	
	p{
		width: 100%;
		position: relative;
	}
	
	div.image-gif{
		width: 100%;
		height: 600px;
		display: block;
		margin: 0;
		position: absolute;
		top:0;
		left: 0;
		background-position: center center;
		background-size: cover;
		display: none;
	}
	
	img{
		width: 100%;
		height: auto;
		
	}
}

.FF__logo{
	width:284px;
	height: 36px;
	display:inline-block;
	background-size: cover;
	background-image:url('http://chd.dev/assets/img/logo-simple.png')
}

.FF__footer{
	padding:1em;
	background:#eee;
	text-align: center;
}

