[id^="FF"]{
	
	h1, h2, li, p, a {
		font-family:$font-family-base;
	}

	a, .btn{
		color:$link-color;
		text-decoration: none;
		cursor: pointer;
		outline: none;
	}
	
	a{
		transition: color $a-duration $a-easing 0s;
		
		&:hover{color:$red}
	}
	
	a:focus, a:active, a:visited {outline:none;text-decoration: none}
	::-moz-focus-inner {border:0;}
	
	.btn{
		display: inline-block;
		font-family: $type-secondary;
		font-size: $font-size-span-1;
		background: $link-bg;
		padding: 12px 60px 8px;
		text-transform: uppercase;
		transition: background-color $a-duration $a-easing 0s;
		
		i{
			position: relative;
			top:1px;
			padding: 0 0 0 10px;
			margin: 0px;
			font-size: 1.3em;
		}
		
		&:hover{
			background-color:$link-bg-hover;
			color:$white;
		}
	}
	
	/**
	 * ==============================
	 * Typography
	 * ==============================
	 */
	p{text-transform: uppercase;font-weight: 700}
	
	ul,li{padding: 0px;margin: 0px;list-style-type: none;}
	
	h1{font-size: $font-size-h1;line-height:$line-height-h1;text-transform: uppercase;font-weight:700;letter-spacing: 0.1em}
	h2{font-size: $font-size-h2;line-height:$line-height-h2;text-transform: uppercase;font-weight: 700;letter-spacing: 0.01em}
	h3{font-size: $font-size-h3;line-height:$line-height-h3;font-weight: 400;}
	h4{font-size: $font-size-h4;line-height:$line-height-h4;text-transform: uppercase}
	h6{font-size: $font-size-h6;line-height:$line-height-h6;font-weight: 100;}
	
	@media(max-width:$screen-xs){
		$font-subtraction:0.1em;
		
		h3{
			font-size: ($font-size-h3 - $font-subtraction);
			line-height: ($line-height-h3 - $font-subtraction);
		}
	}
	
	/**
	 * ==============================
	 * Margins
	 * ==============================
	 */
	h1{margin-top: 0;margin-bottom: 0}
	h2{margin-top: 0;margin-bottom: 0}
	h3{margin-top: 0;margin-bottom: 0}
	h4{margin-top: 0;margin-bottom: 0}
	h6{margin-top: 0;margin-bottom: 0}
	
	/**
	 * ==============================
	 * Carousel stuff
	 * ==============================
	 */
	a[class^="arrow-"]{
		position: absolute;
		font-size: 2em;
		transition: color $a-duration $a-easing 0s;
		
		&:hover{color:$red}
	}
	
	/**
	 * ==============================
	 * Forms
	 * ==============================
	 */
	input{
		border: none;
		outline: none;
		padding: 0;
		-webkit-appearance: none;
		border-radius: 0;
	}
	
	input[type="text"],
	input[type="email"],
	input[type="submit"]{
		font-family:$type-secondary;
		font-size:$font-size-span-1;
		font-weight: 700;
		height: 40px;
		line-height: 40px;
		color:$grey;
		
		&::input-placeholder{text-transform: uppercase;}
		&:-ms-input-placeholder{text-transform: uppercase;}
		&::-moz-placeholder{text-transform: uppercase;}
		&::-webkit-input-placeholder{text-transform: uppercase}
	}
	
	input[type="text"],
	input[type="email"]{
		min-width: 200px;
		text-indent: 10px;
	}
	
	input[type="submit"]{
		min-width: 130px;
		background-color: $red;
		transition: background-color $a-duration $a-easing 0s;
		color:$white;
		line-height: 35px;
		text-transform: uppercase;
		
		&:hover{background-color:$link-bg-hover}
	}
	
	/**
	 * ==============================
	 * Misc additions
	 * ==============================
	 */
	
	::-moz-selection { 
	    background: $red;
	}
	
	::selection {
	    background: $red;
	}
	
	/**
	 * ==============================
	 * Global\animations
	 * ==============================
	 */
	.cssanimations{
		//.class{transition: property duration ease-in delay}
		
		//.modal{transition: opacity 0.3s ease-in 0.3s, visibility 0.1s ease-in 0s, max-height 0.01s 0s}
	}

}