[id^="FF"]{
	
	div,h1, h2, li, p, a {
		font-family:$font-family-base;
	}

	/**
	 * ==============================
	 * Carousel stuff
	 * ==============================
	 */
	a[class^="arrow-"]{
		position: absolute;
		font-size: 2em;
		transition: color $a-duration $a-easing 0s;
		
		&:hover{color:$red}
	}
	
	/**
	 * ==============================
	 * Forms
	 * ==============================
	 */
	input{
		border: none;
		outline: none;
		padding: 0;
		-webkit-appearance: none;
		border-radius: 0;
	}
	
	input[type="text"],
	input[type="email"],
	input[type="submit"]{
		font-family:$type-secondary;
		font-size:$font-size-span-1;
		font-weight: 700;
		height: 40px;
		line-height: 40px;
		color:$grey;
		
		&::input-placeholder{text-transform: uppercase;}
		&:-ms-input-placeholder{text-transform: uppercase;}
		&::-moz-placeholder{text-transform: uppercase;}
		&::-webkit-input-placeholder{text-transform: uppercase}
	}
	
	input[type="text"],
	input[type="email"]{
		min-width: 200px;
		text-indent: 10px;
	}
	
	input[type="submit"]{
		min-width: 130px;
		background-color: $red;
		transition: background-color $a-duration $a-easing 0s;
		color:$white;
		line-height: 35px;
		text-transform: uppercase;
		
		&:hover{background-color:$link-bg-hover}
	}
	
	/**
	 * ==============================
	 * Misc additions
	 * ==============================
	 */
	
	::-moz-selection { 
	    background: $red;
	}
	
	::selection {
	    background: $red;
	}
	
	/**
	 * ==============================
	 * Global\animations
	 * ==============================
	 */
	.cssanimations{
		//.class{transition: property duration ease-in delay}
		
		//.modal{transition: opacity 0.3s ease-in 0.3s, visibility 0.1s ease-in 0s, max-height 0.01s 0s}
	}

}