/* original from http://callmenick.com/post/css-toggle-switch-examples*/

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 80px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;

  &:before,&:after {
    display: block;
    position: absolute;
    content: "";
  }

  &:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 20px;
    transition: background 0.4s;
  }

  &:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 40px;
    background-color: $orange;
    border-radius: 40px;
    transition: background 0.4s;
  }
}

input.cmn-toggle-round-flat:checked + label {
  &:after {
    margin-left: 35px;
  }
}