html,body{
	width: 100%;
	height: 100%;
}

#FF_UI{
	width: 50%;
	max-width: 400px;
	height: 100%;
	background: #000;
	color:$orange;
	position: fixed;
	top:0;
	right: 0;
	z-index: 20000;
	box-sizing: border-box;
	padding: 80px 30px 0;
	transform:translateX(400px);

	label{
		color:#fff;
	}
	
	
	.range-container{
		max-width: 300px;
	}
	
	.more-margin{
		margin-bottom: 45px;
	}
	
	.rangeslider{
		margin:15px 0 30px;
	}
	
	.rangeslider__fill{
		background: $orange !important;
	}
	
	.yes,.no{
		position: relative;
		top:-7px;
	}
	
	.no{
		padding-left: 133px;
	}
	
	[type="submit"]{
		margin-top: 30px;
		padding: 6px 20px 3px;
		background:$orange;
		color:#fff;
	}
	
	.submit-wrapper{
		position: relative;
	}
	
	.loader{
		display: none;
		position: absolute;
		top: 30px;
		right: 158px;
		width: 30px;
		height: 30px;
		
		&.active{
			display: block;
		}
	}
}